.hero-section {
  background-image: url("../../assets/images/hero.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  border: 1px solid var(--clr-border);
  border-top: none;
  border-inline: none;
}

.hero-section__content {
  display: flex;
  width: fit-content;
  flex-direction: column;
  color: var(--clr-text);
  justify-content: center;
  min-height: 70vh;
  gap: 2rem;
}

.hero-section__menu-button {
  width: 10rem;
  background-color: var(--clr-neutral);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  padding: 0.5rem;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.hero-section__menu-button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
}

@media (max-width: 1110px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-section__content {
    background-color: #00000070;
    color: var(--clr-neutral);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
  }
}
