.order__card__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-block: 2rem;
}

@media (max-width: 1120px) {
  .order__card__container {
    grid-template-columns: 1fr;
  }
}
