.about__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about__container {
  padding: 1rem;
}

.about__heading {
  text-transform: uppercase;
  font-weight: var(--fw-900);
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.about__content {
  line-height: 1.7;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
