.about__section {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--clr-bg-100);
}

.about__container {
  padding: 1rem;
}

.about__heading {
  text-transform: uppercase;
  font-weight: var(--fw-900);
  color: var(--clr-primary);
}

.about__content {
  line-height: 1.7;
  color: var(--clr-text);
}
