.add-drink__form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.btn__add-drink {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.btn__add-drink:hover {
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  background-color: var(--clr-neutral);
  cursor: pointer;
}

.add__drink__buttons {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.btn__add-drink {
  background-color: var(--clr-secondary);
  color: var(--clr-neutral);
  cursor: pointer;
  transition: 200ms ease-in-out;
}
