.order__list__card {
  border-inline: 1px solid var(--clr-border);
  border-top: 1px solid var(--clr-border);
  border-bottom: 2px solid var(--clr-primary);
  padding: 1rem;
  display: flex;
}

.order__card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order__card__info p,
.order__card__content p {
  font-family: var(--ff-primary);
  font-size: var(--fs-regular);
  float: right;
}

.order__card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 1;
}

.order__item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 550px) {
  .order__card__info p,
  .order__card__content p {
    font-size: var(--fs-smaller);
  }
}
