.menu__item__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 30vh;
  padding: 1rem;
}

.menu__item__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.btn__dish {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.btn__dish:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-neutral);
  color: var(--clr-primary);
}

.btn__drink {
  background-color: var(--clr-secondary);
  color: var(--clr-neutral);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.btn__drink:hover {
  border: 1px solid var(--clr-secondary);
  background-color: var(--clr-neutral);
  color: var(--clr-secondary);
}

.menu__navigation__container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu__navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.menu__navigation__list__item {
  list-style: none;
}

.menu__navigation__button {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  border-top: 0;
  border-inline: 0;
  border-bottom: 1px solid var(--clr-primary);
  background-color: white;
  transition: 200ms ease-in-out;
  font-size: var(--fs-smaller);
}

.menu__navigation__button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
}

.menu__navigation__button-active {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  font-weight: var(--fw-900);
  cursor: pointer;
}
