.nav__header {
  width: 100%;
  border: 1px solid var(--clr-text);
  border-top: none;
  border-inline: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo__container {
  padding: 1rem;
}

.logo__navigation {
  width: 113px;
  height: 84px;
}

.contact__container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nav__menu {
  padding: 2rem;
  display: flex;
}

.nav__menu--open {
  display: flex;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: var(--fs-regular);
  list-style: none;
  flex-wrap: wrap;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-text);
}

.nav__link:hover {
  color: var(--clr-primary);
}

.btn__logout {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  cursor: pointer;
  transition: 200ms ease-in-out;
  min-width: 74px;
}

.btn__logout:hover {
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  background-color: var(--clr-neutral);
  cursor: pointer;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .logo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .burger__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .bar {
    width: 27px;
    height: 2px;
    background: black;
  }

  .nav__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease;
  }

  .nav__menu--open {
    display: flex;
    opacity: 1;
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
