.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.menu__item__line {
  flex-grow: 1;
  height: 6px;
  border-bottom: 1px dashed var(--clr-border);
  margin: 0 1.2rem;
}

.menu__item__title > p {
  font-family: var(--ff-primary);
  font-size: var(--fs-smaller);
  font-weight: var(--fw-bold);
}

.menu__item__description > p {
  font-family: var(--ff-primary);
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
  color: var(--clr-text);
  max-width: 300px;
}

.menu__item__price > p {
  font-family: var(--ff-primary);
  font-size: var(--fs-smaller);
  font-weight: var(--fw-bold);
  text-align: center;
}

.menu__item__category {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  font-family: var(--ff-primary);
  padding: 2px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  min-width: 106px;
}
