.register__form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.btn__register {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  cursor: pointer;
  transition: 200ms ease-in-out;
  min-width: 74px;
}

.btn__register:hover {
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  background-color: var(--clr-neutral);
  cursor: pointer;
}
